html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('http://fonts.cdnfonts.com/css/now');
@import url('http://fonts.cdnfonts.com/css/sifonn');
@import url('http://fonts.cdnfonts.com/css/anonymous-pro');
